.wrapper {
  border: 1px solid #ccc;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  min-height: 40vh;
  background-color: var(--login-background);

  .verifyCode {
    margin: .75rem 0;
    display: flex;

    button {
      flex-grow: 1;
      margin-left: .25rem;
      white-space: nowrap;
    }
  }
}
